# requirements from setup.py

# django-select2 v6.0 doesn't support python v2 and django 1.8
# https://github.com/applegrew/django-select2/blob/master/CHANGELOG.md
django-select2<6.0

# other requirements
djangocms-text-ckeditor
djangocms-helper
tox
coverage
