.link-widget {
    width: 100%;
    display: flex;
    margin-bottom: 0.5em;
    .link-type-selector {
        margin-inline-end: 1em;
        display: block;
        flex-shrink: 1;
    }
    .external_link, .internal_link, .file_link, .anchor {
        display: none;
        width: 100%;
        margin-inline-end: 1em;
        padding: 0;
        select, input {
            width: 100%;
        }
        span.select2 {
            display: block;
        }
    }
    .file_link {
        margin-top: 0.5em;
    }
    &[data-type="external_link"] .external_link,
    &[data-type="internal_link"] .internal_link,
    &[data-type="internal_link"] .anchor,
    &[data-type="file_link"], &[data-type="file_link"] .file_link
    {
        display: block
    }
    &[data-type="file_link"] .link-type-selector,
    &[data-type="empty"] .link-type-selector{
        margin-inline-end: 0;
        width: 33%;
    }
    .link-settings-menu {
        margin-inline-start: 1em;
        float: right;
        position: relative;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        border-color: var(--dca-gray-light, var(--border-color));
        padding: 1rem;
        box-sizing: border-box;
        height: 1px;
        width: 1px;
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .select2-container .select2-selection--single {
        height: 2.55em;
    }
}
